
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
vscode/*
필요/*
홈페이지제작/*


# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
