/*  속성 선택자*/
div[name=name2]{
    background-color: chocolate;
}

div[class^=div] {
    color: red;
}

/*자손선택자*/
#div1>h4{
    color: orangered;
}

#div1>*{
    background-color: bisque;
}

#div1 li{
    color: red;
}

input[name=id]{
    background-color: salmosn;
    outline: none;
    border: none;
}